CompileFlags:
  CompilationDatabase: build

---
If:
  PathMatch: userland/.*
CompileFlags:
  Remove:
    - --target=*
    - -ffreestanding
    - -fno-stack-protector
    - -fno-stack-check
    - -fno-PIC
    - -fno-PIE
    - -fno-lto
    - -fno-omit-frame-pointer
    - -fno-asynchronous-unwind-tables
    - -mgeneral-regs-only
    - -march=*
    - -mcmodel=*
  Add:
    - -std=c23
    - -D_GNU_SOURCE
    - -I
    - userland/lib/spore
    - -Wno-deprecated-declarations
