[Unit]
Description=interactive Spore console

[Service]
Type=simple
ExecStart=/bin/msh
Restart=always
RestartSec=1s
RestartImmediately=yes
User=spore
StandardOutput=console
StandardError=console

[Install]
WantedBy=multi-user.target
