[Unit]
Description=normal interactive multi-user boot
Wants=hostname.service trustd.service network.target console.service

[Install]
WantedBy=boot.target
