[Unit]
Description=configure virtio-net by DHCP
Before=network.target

[Service]
Type=oneshot
ExecStart=/bin/dhcpc
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=network.target
