[Unit]
Description=cache TLS trust anchors
Before=network.target

[Service]
Type=simple
ExecStart=/libexec/trustd
Restart=always
RestartSec=1s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
